.show-detail-page h2.movie-title {
    font-size: 3em;
    text-align: center;
}

.show-detail-page .mdp-cover {
    width: 100%;
    height: auto;
}

.show-detail-page .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.show-detail-page .movie-description {
    padding: 0 15px;
    margin: 0;
    font-size: 1.2em;
}

.go-back {
    padding: 20px 35px;
    font-size: 20px;
    display: inline-block;
    color: #000;
    text-decoration: none;
    background: #efefef;
    border-radius: 30px;
}

.show-detail-page a,
.show-detail-page a:active {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .show-detail-page .content {
        flex-wrap: wrap;
    }

    .show-detail-page .movie-description {
        margin-top: 30px;
    }
}